{{#.}}

## {{basename}}
{{#options.showFilePath}}
_{{{filepath}}}_
{{/options.showFilePath}}
{{#content}}
{{#description.summary}}
{{^options.compressed}}### Summary{{/options.compressed}}
{{#options.quoteSummary}}>{{/options.quoteSummary}}{{{description.summary}}}
{{/description.summary}}

{{#tags}}
**{{{type}}}**: &nbsp;{{#types}}`{{.}}` {{/types}} {{{string}}} {{#parent}}`{{{parent}}}`{{/parent}}<br>
{{/tags}}

{{#ctx}}
{{^options.compressed}}### Syntax{{/options.compressed}}
{{#ctx.isConstructor}}
`new {{name}}({{ctx.parameters}})`
{{/ctx.isConstructor}}
{{#ctx.isFunction}}
`{{name}}({{ctx.parameters}})`
{{/ctx.isFunction}}
{{#ctx.isDeclaration}}
`{{name}}` {{#value}}: `{{{value}}}`{{/value}}
{{/ctx.isDeclaration}}
{{#ctx.isProperty}}
`{{name}}` {{#value}}: `{{{value}}}`{{/value}}
{{/ctx.isProperty}}
{{/ctx}}
{{#parameters.length}}
{{^options.compressed}}### Parameters{{/options.compressed}}
{{/parameters.length}}
{{#parameters}}
**{{name}}** &nbsp;{{#types}}`{{.}}` {{/types}}<br>
{{{description}}}

{{/parameters}}
{{#return.length}}
{{^options.compressed}}### Return{{/options.compressed}}
{{#options.compressed}}**Return**{{/options.compressed}}
{{/return.length}}
{{#return}}
{{#types}}`{{.}}` {{/types}}<br>
{{{description}}}
{{/return}}
{{#desc}}
{{^options.compressed}}### Description{{/options.compressed}}
{{{desc.0.string}}}
{{/desc}}
<hr>

{{/content}}
{{/.}}


